body {
  height: auto;
  width: auto;
  margin: 0;
}

.calculator-surface {
  background-color: rgb(104, 9, 194);
  height: auto;
  width: 414px;
  margin: 7px;
  box-sizing: border-box;
}

.calculator {
  background-color: rgba(0, 0, 0, 0.322);
  border: 2px solid rgb(166, 71, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 620px;
  width: 410px;
}

.the-input {
  margin: 20px;
  height: 110px;
  width: 370px;
  background-color: rgba(240, 248, 255, 0.932);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons-surface {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(86, 14, 153, 0);
  height: 450px;
  width: 370px;
}

.first-column,
.second-column,
.third-column,
.fourth-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: auto;
  box-sizing: border-box;
  margin: 0;
}

.first-column {
  margin-right: 5px;
}

.second-column {
  margin-right: 5px;
  margin-left: 5px;
}

.third-column {
  margin-right: 5px;
  margin-left: 5px;
}

.fourth-column {
  margin-left: 5px;
}

#bt-0,
#bt-1,
#bt-2,
#bt-3,
#bt-4,
#bt-5,
#bt-6,
#bt-7,
#bt-8,
#bt-9,
#bt-0,
#bt-A,
#bt-C,
#bt-equals,
#bt-plus,
#bt-less,
#bt-mult,
#bt-divi {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  background-color: rgba(240, 248, 255, 0.747);
  height: calc(400px / 4 + 5px);
  width: 85px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bt-C {
  height: calc((400px / 4 - 5px) / 2);
}
#bt-equals {
  height: calc((400px / 4 - 5px) / 2);
}

#numbers-input {
  font-size: 56px;
}
