# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
ENV/
env/

# Environment variables
.env
.env.*

# Flask
instance/
.webassets-cache

# SQLite database
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Mypy / type checking
.mypy_cache/

# Static files (opcional, depende do seu projeto)
# static/
# media/
